<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="header">
  <!-- Main Header -->
    <!-- Logo -->
    <a href="#" th:href="@{~/admin/home}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg" th:text="#{headernav.dashboard}">Dashboard</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header" th:text="#{headernav.mails}">Mails you have</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        <small><i class="fa fa-clock-o"></i> 5 دقائق</small>
                      </div>
                      <!-- Message title and snippet -->
                      <div class="pull-right">
                        <h4>
                          فريق الدعم
                        </h4>
                        <!-- The message -->
                        <p>هذه هي نص الرسالة</p>
                      </div>
                    </a>
                  </li><!-- end message -->
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                        <small><i class="fa fa-clock-o"></i> 9 دقائق</small>
                      </div>
                      <!-- Message title and snippet -->
                      <div class="pull-right">
                        <h4>
                          مدير الموقع
                        </h4>
                        <!-- The message -->
                        <p>هذه هي نص الرسالة</p>
                      </div>
                    </a>
                  </li><!-- end message -->
                </ul><!-- /.menu -->
              </li>
              <li class="footer"><a href="#"><span th:text="#{headernav.view_mails}">View all messages</span></a></li>
            </ul>
          </li><!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header" th:text="#{headernav.notifications}">لديك 10 اشعارات جديدة</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i>5 أعضاء جدد انضموا اليوم
                    </a>
                  </li><!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#"><span th:text="#{headernav.view_notifications}">View All</span></a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header" th:text="#{headernav.tasks}"> Tasks you have</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some pages
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% <span th:text="#{headernav.completed_tasks}"> Completed
                                                                                                  Tasks</span> </span>
                        </div>
                      </div>
                    </a>
                  </li><!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#"><span th:text="#{headernav.view_all_tasks}">View All Tasks</span></a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="../lib/dist/img/user/user2-160x160.jpg"
                   th:src="@{'/lib/dist/img/user/' + ${#httpSession.getAttribute('user')?.photo}}" class="user-image"
                   alt="User Image"/>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs" th:text="${#httpSession.getAttribute('user')?.name}"> Omar Fawzy</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="../lib/dist/img/user/user2-160x160.jpg"
                     th:src="@{'/lib/dist/img/user/' + ${#httpSession.getAttribute('user')?.photo}}" class="img-circle"
                     alt="User Image"/>

                <p>
                  <span th:text="${#httpSession.getAttribute('user')?.name}">Omar Fawzyي</span> - <span
                        th:text="${#httpSession.getAttribute('user')?.title}"> Website Admin</span>
                  <small>Admin since 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat"><span th:text="#{headernav.profile}">Profile</span></a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat"><span th:text="#{headernav.signout}"> Sign Out</span></a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>

</div>
</body>
</html>
